@import 'bower_components/jeet/scss/jeet/index';
@import 'palette.scss';
@import 'components/text.scss';
@import 'partials/features.scss';
@import 'partials/plugin.scss';
@import 'components/links.scss';
@import 'components/buttons.scss';
$jeet-gutter: 0;
body {
	background-color: #f4f4f4;
}

.container {
	@include center(1075px);
}

.third{
	@include span(.333333);
}

.two-thirds{
	@include span(.66666);
}

.section-features .feature, .section-plugin{
	background: white;
}

