.btn{
	display: block;
	text-align: center;
	cursor: pointer;
	border: none;
}

.btn-lg{
	width: 100%;
	height: 55px;
	font-size: 20px;
}

.btn-green{
	color: white;
	background: $green-dark;
	&:hover{
		background: $green-light;
	}
}
