body{
	font-family: 'Open Sans';
}

h1{
	font-size: 26px;
	font-weight: 700;
}

a{
	color: $green-dark;
	font-size: 14px;
	text-decoration: none;

	&:hover{
		color: $green-light;
		}
}

.text-center {
	text-align: center !important;
}

b{
	font-weight: 600;
}



.black-text{
	color: $dark;
}

.gray-text{
	color: $gray;
}

.green-text{
	color: $green-dark;
}

.blue-text{
	color: $blue;
}
